In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
aisles = pd.read_csv('/instacart/aisles.csv')
departments = pd.read_csv('/instacart/departments.csv')
orders = pd.read_csv('/instacart/orders.csv')
products = pd.read_csv('/instacart/products.csv')

In [8]:
order_products_prior = pd.read_csv('/instacart/order_products__prior.csv')
orderproducts_train = pd.read_csv('/instacart/order_products__train.csv')

In [9]:
print(aisles.shape)
print(aisles.sample(10))

(134, 2)
     aisle_id                    aisle
103       104        spices seasonings
116       117   nuts seeds dried fruit
28         29    honeys syrups nectars
131       132                   beauty
1           2        specialty cheeses
53         54              paper goods
50         51   preserved dips spreads
108       109                skin care
128       129  frozen appetizers sides
66         67     fresh dips tapenades

In [10]:
print(departments.shape)
print(departments.sample(10))

(21, 2)
    department_id     department
17             18         babies
6               7      beverages
7               8           pets
14             15   canned goods
15             16     dairy eggs
12             13         pantry
5               6  international
3               4        produce
0               1         frozen
13             14      breakfast

In [11]:
print(orders.shape)
print(orders.sample(5))

(3421083, 7)
         order_id  user_id eval_set  order_number  order_dow  \
315786    1581701    19114    prior             8          5
2559243   2544839   154001    prior            32          3
2794293   1557566   168556    prior            18          2
1202508   1561193    72281    prior            29          1
281168    2559514    17001    prior            13          4

         order_hour_of_day  days_since_prior_order
315786                  17                     7.0
2559243                 19                     2.0
2794293                 19                    17.0
1202508                 14                     4.0
281168                  16                     4.0

In [12]:
print(products.shape)
print(products.sample(5))

(49688, 4)
       product_id                                  product_name  aisle_id  \
12372       12373    Chewy Nut Butter Almond Snickerdoodle Bars       100
30102       30103                       Cookies, Milk Chocolate        61
32147       32148  Vanilla Spiru-Tein High Protein Energy Shake        65
36210       36211             Red Pomegranate And Spruce Candle       101
20510       20511          Gelato Indulgences Chocolate Caramel        37

       department_id
12372             21
30102             19
32147             11
36210             17
20510              1

In [13]:
print(order_products_prior.shape)
print(order_products_prior.sample(5))

(32434489, 4)
          order_id  product_id  add_to_cart_order  reordered
3864280     407883       42265                  6          1
4402390     464682       36005                  4          0
8958365     945754       14633                 12          0
12097977   1277047       21376                 10          0
20366356   2148192       15772                  2          1

In [14]:
print(orderproducts_train.shape)
print(orderproducts_train.sample(5))

(1384617, 4)
         order_id  product_id  add_to_cart_order  reordered
1376248   3402320       22548                  2          1
983209    2426540       19575                  5          1
476692    1167934        8518                  2          1
364418     887177       36216                  4          1
805988    1987502       25397                  2          0

# Combining DF
Getting Complete details of Prodcuts with Aisle and Department Information

In [15]:
df = pd.merge(pd.merge(pd.merge(orderproducts_train,products, on="product_id", how = 'inner'), aisles,on="aisle_id", how='inner'),departments,on="department_id", how = 'inner')

In [16]:
df.head(10)

,order_id,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,aisle,department
0,1,49302,1,1,Bulgarian Yogurt,120,16,yogurt,dairy eggs
1,816049,49302,7,1,Bulgarian Yogurt,120,16,yogurt,dairy eggs
2,1242203,49302,1,1,Bulgarian Yogurt,120,16,yogurt,dairy eggs
3,1383349,49302,11,1,Bulgarian Yogurt,120,16,yogurt,dairy eggs
4,1787378,49302,8,0,Bulgarian Yogurt,120,16,yogurt,dairy eggs
5,2445303,49302,2,1,Bulgarian Yogurt,120,16,yogurt,dairy eggs
6,2853065,49302,12,1,Bulgarian Yogurt,120,16,yogurt,dairy eggs
7,3231517,49302,6,1,Bulgarian Yogurt,120,16,yogurt,dairy eggs
8,98,43654,3,1,Whole Milk Greek Blended Vanilla Bean Yogurt,120,16,yogurt,dairy eggs
9,13746,43654,9,0,Whole Milk Greek Blended Vanilla Bean Yogurt,120,16,yogurt,dairy eggs

In [17]:
df_meta= df.groupby('product_id', as_index=False).agg(set)

In [18]:
df_meta.head()

,product_id,order_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,aisle,department
0,1,"{1981184, 2111236, 1708933, 337286, 1639546, 1...","{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15...","{0, 1}",{Chocolate Sandwich Cookies},{61},{19},{cookies cakes},{snacks}
1,2,"{1550225, 1455635, 2481009, 3288051}","{17, 26, 5, 15}","{0, 1}",{All-Seasons Salt},{104},{13},{spices seasonings},{pantry}
2,3,"{489378, 72425, 2339119, 1176592, 2741526, 218...","{1, 13, 5, 6}",{1},{Robust Golden Unsweetened Oolong Tea},{94},{7},{tea},{beverages}
3,4,"{2742787, 459014, 2891043, 918568, 770868, 237...","{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 16...","{0, 1}",{Smart Ones Classic Favorites Mini Rigatoni Wi...,{38},{1},{frozen meals},{frozen}
4,5,{1854678},{5},{1},{Green Chile Anytime Sauce},{5},{13},{marinades meat preparation},{pantry}

In [19]:
df_meta['aisle'] = df_meta['aisle'].apply(lambda x: [i.replace(' ','') for i in x])
df_meta['department'] = df_meta['department'].apply(lambda x: [i.replace(' ','') for i in x])
df_meta['product_name'] = df_meta['product_name'].apply(lambda x: [i.replace(' ',' ') for i in x])

In [20]:
df_meta['Description']=df_meta['product_name']

In [21]:
df_meta.sample(3)

,product_id,order_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,aisle,department,Description
638,788,"{145667, 2246795, 1065614, 271759, 1371920, 24...","{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 16, 18, 26...","{0, 1}",[XXX Acai Blueberry Pomegranate],{64},{7},[energysportsdrinks],[beverages],[XXX Acai Blueberry Pomegranate]
1527,1937,"{41125, 2563763, 3265235, 1240090, 607709}","{4, 7, 11, 13, 18}",{0},[Red Velvet Cake Slice],{8},{3},[bakerydesserts],[bakery],[Red Velvet Cake Slice]
32189,40864,"{1073700, 1515759, 2911123, 433013, 1752120, 4...","{2, 34, 4, 5, 8, 10}","{0, 1}",[Gluten Free White Cheddar Popped Corn Chips],{23},{19},[popcornjerky],[snacks],[Gluten Free White Cheddar Popped Corn Chips]

In [22]:
main_df= df_meta.loc[:,['product_id','product_name','aisle','department','Description']]

In [23]:
main_df.shape

(39123, 5)

In [24]:
main_df['department'].value_counts()

department
[snacks]           5020
[personalcare]     4314
[pantry]           4107
[beverages]        3526
[frozen]           3414
[dairyeggs]        3033
[household]        2327
[cannedgoods]      1715
[produce]          1533
[drygoodspasta]    1526
[bakery]           1313
[deli]             1119
[breakfast]         932
[missing]           905
[international]     883
[babies]            869
[meatseafood]       777
[pets]              755
[alcohol]           647
[other]             373
[bulk]               35
Name: count, dtype: int64

In [25]:
# Calculate the value counts of the departments
department_counts = main_df['department'].value_counts()

# Find the departments that appear more than 1000 times
departments_over_1000 = department_counts[department_counts > 2000].index

# Filter the main_df to only include rows with these departments
main_df = main_df[main_df['department'].isin(departments_over_1000)]

In [26]:
main_df.shape

(25741, 5)

In [27]:
main_df = main_df.reset_index(drop=True)

# Preprocessing

In [28]:
import nltk
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
ps= PorterStemmer()

In [29]:
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\anish\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\anish\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [30]:
main_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25741 entries, 0 to 25740
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_id    25741 non-null  int64
 1   product_name  25741 non-null  object
 2   aisle         25741 non-null  object
 3   department    25741 non-null  object
 4   Description   25741 non-null  object
dtypes: int64(1), object(4)
memory usage: 1005.6+ KB

In [31]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [32]:
# Function to do all the data preprocessing
def transform_text(text):

  #COnverting to lower case
  text = text.lower()
  
  #Tokenisation
  text = nltk.word_tokenize(text)

  #Removing Special Characters
  y=[]
  for i in text:
    if i.isalnum():
      y.append(i)

  text=y[:]
  y.clear()

  #Removing Stop words
  for i in text:
    if i not in stopwords.words('english') and i not in string.punctuation:
      y.append(i)

  text = y[:]
  y.clear()

  #Stemming
  for i in text:
    y.append(ps.stem(i))

  return " ".join(y)

In [33]:
transform_text('Canned Meat 25% Less Sodium')

'can meat 25 less sodium'

In [34]:
main_df['Description'] = main_df['Description'].apply(lambda x: x[0])
main_df['product_name'] = main_df['product_name'].apply(lambda x: x[0])
main_df['aisle'] = main_df['aisle'].apply(lambda x: x[0])
main_df['department'] = main_df['department'].apply(lambda x: x[0])

In [35]:
main_df.sample(10)['Description']

5965                                Almond Crunch Meal Bar
19665                          Original Smoked Snack Stick
25589          Watermelon Raspberry Flavored Coconut Water
2446                               Queso Blanco Medium Dip
4067                      Light Greek Vinaigrette Dressing
19811                        Pizza, Margherita, Rice Crust
8480                      Sweetened Condensed Coconut Milk
24064    Chocolate Chip Cookie Dough Frozen Greek Yogur...
21858                                    Swedish Meatballs
5463                Orange Flavor Chewable Aspirin Tablets
Name: Description, dtype: object

In [36]:
main_df.head()

,product_id,product_name,aisle,department,Description
0,1,Chocolate Sandwich Cookies,cookiescakes,snacks,Chocolate Sandwich Cookies
1,2,All-Seasons Salt,spicesseasonings,pantry,All-Seasons Salt
2,3,Robust Golden Unsweetened Oolong Tea,tea,beverages,Robust Golden Unsweetened Oolong Tea
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,frozenmeals,frozen,Smart Ones Classic Favorites Mini Rigatoni Wit...
4,5,Green Chile Anytime Sauce,marinadesmeatpreparation,pantry,Green Chile Anytime Sauce

In [37]:
main_df['Description']=main_df['Description'].apply(transform_text)

In [38]:
main_df.head()

,product_id,product_name,aisle,department,Description
0,1,Chocolate Sandwich Cookies,cookiescakes,snacks,chocol sandwich cooki
1,2,All-Seasons Salt,spicesseasonings,pantry,salt
2,3,Robust Golden Unsweetened Oolong Tea,tea,beverages,robust golden unsweeten oolong tea
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,frozenmeals,frozen,smart one classic favorit mini rigatoni vodka ...
4,5,Green Chile Anytime Sauce,marinadesmeatpreparation,pantry,green chile anytim sauc

In [39]:
main_df['Tags']=main_df['department']+' '+main_df['aisle']+' '+main_df['Description']
#df_meta2['Tags'] = df_meta2.apply(lambda x : ' ' + ' '.join(x['aisle']) + ' ' + ' '.join(x['department'])+' ' + ' '.join(x['product_name']), axis = 1)

In [40]:
main_df=main_df[['product_id','product_name','Tags']]

In [41]:
main_df.head(3)

,product_id,product_name,Tags
0,1,Chocolate Sandwich Cookies,snacks cookiescakes chocol sandwich cooki
1,2,All-Seasons Salt,pantry spicesseasonings salt
2,3,Robust Golden Unsweetened Oolong Tea,beverages tea robust golden unsweeten oolong tea

In [42]:
main_df.sample(3)

,product_id,product_name,Tags
24250,46815,Ultimate Omega 1280mg omega-3,personalcare vitaminssupplements ultim omega 1...
10993,21223,Nesquik Strawberry Milk Drink Mix,beverages cocoadrinkmixes nesquik strawberri m...
12945,25027,Super Shiny Mango Conditioner,personalcare haircare super shini mango condition

### Sampling Only 30,000 Products due to constant Memory error

In [43]:
#main_df= main_df.sample(30000)

# Vectorizing

In [44]:
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

In [45]:
count_vec = CountVectorizer()

In [46]:
count_vec_matrix = count_vec.fit_transform(main_df['Tags']).toarray()

In [47]:
count_vec.get_feature_names_out()

array(['00', '003', '004', ..., 'zyme', 'zzz', 'zzzquil'], dtype=object)

In [48]:
count_vec_matrix.shape

(25741, 5899)

In [49]:
count_vec_matrix[9]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [50]:
similarity = cosine_similarity(count_vec_matrix)

In [51]:
similarity.shape

(25741, 25741)

In [52]:
similarity[10]

array([0.18257419, 0.        , 0.        , ..., 0.16666667, 0.        ,
       0.        ])

In [53]:
sorted(list(enumerate(similarity[12])),reverse=True,key=lambda x:x[1])

[(12, 1.0000000000000002),
 (19420, 0.8660254037844387),
 (1446, 0.8333333333333336),
 (13747, 0.8333333333333336),
 (15140, 0.8333333333333336),
 (16944, 0.8333333333333336),
 (11833, 0.8164965809277261),
 (94, 0.7715167498104596),
 (5763, 0.7715167498104596),
 (22853, 0.7715167498104596),
 (9881, 0.7216878364870323),
 (16579, 0.7216878364870323),
 (18911, 0.7216878364870323),
 (3158, 0.6666666666666669),
 (10430, 0.6666666666666669),
 (10671, 0.6666666666666669),
 (8271, 0.6454972243679029),
 (16689, 0.6454972243679029),
 (2021, 0.6172133998483676),
 (2201, 0.6172133998483676),
 (2487, 0.6172133998483676),
 (4016, 0.6172133998483676),
 (5039, 0.6172133998483676),
 (18461, 0.6172133998483676),
 (21501, 0.6172133998483676),
 (23567, 0.6172133998483676),
 (24138, 0.6172133998483676),
 (24174, 0.6172133998483676),
 (25694, 0.6172133998483676),
 (8631, 0.6123724356957946),
 (16226, 0.6123724356957946),
 (291, 0.5892556509887897),
 (991, 0.5773502691896258),
 (8144, 0.5773502691896258),
 (14464, 0.5773502691896258),
 (17729, 0.5773502691896258),
 (21143, 0.5773502691896258),
 (22860, 0.5773502691896258),
 (1672, 0.5477225575051662),
 (2598, 0.5477225575051662),
 (4123, 0.5477225575051662),
 (11460, 0.5477225575051662),
 (18190, 0.5477225575051662),
 (19629, 0.545544725589981),
 (2489, 0.5443310539518174),
 (6026, 0.5443310539518174),
 (18072, 0.5443310539518174),
 (20919, 0.5443310539518174),
 (704, 0.5163977794943223),
 (5972, 0.5163977794943223),
 (6767, 0.5163977794943223),
 (9688, 0.5163977794943223),
 (22711, 0.5163977794943223),
 (3699, 0.5000000000000001),
 (4138, 0.5000000000000001),
 (4610, 0.5000000000000001),
 (7116, 0.5000000000000001),
 (7476, 0.5000000000000001),
 (7490, 0.5000000000000001),
 (7846, 0.5000000000000001),
 (8964, 0.5000000000000001),
 (10342, 0.5000000000000001),
 (10674, 0.5000000000000001),
 (12917, 0.5000000000000001),
 (14338, 0.5000000000000001),
 (14563, 0.5000000000000001),
 (15180, 0.5000000000000001),
 (15326, 0.5000000000000001),
 (15920, 0.5000000000000001),
 (17041, 0.5000000000000001),
 (17223, 0.5000000000000001),
 (17237, 0.5000000000000001),
 (19648, 0.5000000000000001),
 (19854, 0.5000000000000001),
 (19971, 0.5000000000000001),
 (20167, 0.5000000000000001),
 (20227, 0.5000000000000001),
 (21393, 0.5000000000000001),
 (23888, 0.5000000000000001),
 (25163, 0.5000000000000001),
 (25504, 0.5000000000000001),
 (15942, 0.4714045207910318),
 (21887, 0.4714045207910318),
 (21993, 0.4714045207910318),
 (390, 0.4629100498862757),
 (2186, 0.4629100498862757),
 (2562, 0.4629100498862757),
 (3098, 0.4629100498862757),
 (3201, 0.4629100498862757),
 (3236, 0.4629100498862757),
 (3479, 0.4629100498862757),
 (4008, 0.4629100498862757),
 (4380, 0.4629100498862757),
 (7493, 0.4629100498862757),
 (7923, 0.4629100498862757),
 (8337, 0.4629100498862757),
 (8741, 0.4629100498862757),
 (9084, 0.4629100498862757),
 (9838, 0.4629100498862757),
 (9974, 0.4629100498862757),
 (10463, 0.4629100498862757),
 (11574, 0.4629100498862757),
 (11626, 0.4629100498862757),
 (11738, 0.4629100498862757),
 (11969, 0.4629100498862757),
 (13027, 0.4629100498862757),
 (13028, 0.4629100498862757),
 (13689, 0.4629100498862757),
 (13834, 0.4629100498862757),
 (14616, 0.4629100498862757),
 (14628, 0.4629100498862757),
 (14682, 0.4629100498862757),
 (15245, 0.4629100498862757),
 (16191, 0.4629100498862757),
 (17049, 0.4629100498862757),
 (17748, 0.4629100498862757),
 (18005, 0.4629100498862757),
 (19082, 0.4629100498862757),
 (19099, 0.4629100498862757),
 (19122, 0.4629100498862757),
 (19710, 0.4629100498862757),
 (20064, 0.4629100498862757),
 (20378, 0.4629100498862757),
 (20499, 0.4629100498862757),
 (21530, 0.4629100498862757),
 (23550, 0.4629100498862757),
 (24365, 0.4629100498862757),
 (24546, 0.4629100498862757),
 (22412, 0.45291081365783836),
 (16393, 0.43643578047198484),
 (665, 0.4330127018922194),
 (692, 0.4330127018922194),
 (2217, 0.4330127018922194),
 (5105, 0.4330127018922194),
 (6274, 0.4330127018922194),
 (6558, 0.4330127018922194),
 (7039, 0.4330127018922194),
 (7558, 0.4330127018922194),
 (7683, 0.4330127018922194),
 (8763, 0.4330127018922194),
 (8788, 0.4330127018922194),
 (10452, 0.4330127018922194),
 (11884, 0.4330127018922194),
 (12632, 0.4330127018922194),
 (14149, 0.4330127018922194),
 (15152, 0.4330127018922194),
 (15572, 0.4330127018922194),
 (15803, 0.4330127018922194),
 (17559, 0.4330127018922194),
 (19414, 0.4330127018922194),
 (20680, 0.4330127018922194),
 (20957, 0.4330127018922194),
 (21083, 0.4330127018922194),
 (21252, 0.4330127018922194),
 (23092, 0.4330127018922194),
 (23586, 0.4330127018922194),
 (23954, 0.4330127018922194),
 (24107, 0.4330127018922194),
 (24451, 0.4330127018922194),
 (24697, 0.4330127018922194),
 (25721, 0.4330127018922194),
 (23300, 0.4216370213557839),
 (666, 0.4082482904638631),
 (2285, 0.4082482904638631),
 (3266, 0.4082482904638631),
 (6119, 0.4082482904638631),
 (7578, 0.4082482904638631),
 (7628, 0.4082482904638631),
 (7894, 0.4082482904638631),
 (8573, 0.4082482904638631),
 (11317, 0.4082482904638631),
 (13123, 0.4082482904638631),
 (15445, 0.4082482904638631),
 (16271, 0.4082482904638631),
 (16451, 0.4082482904638631),
 (17680, 0.4082482904638631),
 (17811, 0.4082482904638631),
 (18273, 0.4082482904638631),
 (18658, 0.4082482904638631),
 (23538, 0.4082482904638631),
 (24017, 0.4082482904638631),
 (24584, 0.4082482904638631),
 (25136, 0.4082482904638631),
 (989, 0.408248290463863),
 (2139, 0.408248290463863),
 (3913, 0.408248290463863),
 (6280, 0.408248290463863),
 (7236, 0.408248290463863),
 (9476, 0.408248290463863),
 (9493, 0.408248290463863),
 (10281, 0.408248290463863),
 (10967, 0.408248290463863),
 (11335, 0.408248290463863),
 (12119, 0.408248290463863),
 (12810, 0.408248290463863),
 (15184, 0.408248290463863),
 (15811, 0.408248290463863),
 (16901, 0.408248290463863),
 (17535, 0.408248290463863),
 (17648, 0.408248290463863),
 (17947, 0.408248290463863),
 (22149, 0.408248290463863),
 (201, 0.3872983346207417),
 (812, 0.3872983346207417),
 (1801, 0.3872983346207417),
 (2735, 0.3872983346207417),
 (4267, 0.3872983346207417),
 (7524, 0.3872983346207417),
 (13851, 0.3872983346207417),
 (14589, 0.3872983346207417),
 (16071, 0.3872983346207417),
 (17601, 0.3872983346207417),
 (19179, 0.3872983346207417),
 (19376, 0.3872983346207417),
 (20224, 0.3872983346207417),
 (22939, 0.3872983346207417),
 (25277, 0.3872983346207417),
 (382, 0.36927447293799825),
 (544, 0.36927447293799825),
 (1193, 0.36927447293799825),
 (5798, 0.36927447293799825),
 (9045, 0.36927447293799825),
 (10749, 0.36927447293799825),
 (12574, 0.36927447293799825),
 (14193, 0.36927447293799825),
 (14713, 0.36927447293799825),
 (17565, 0.36927447293799825),
 (24817, 0.36927447293799825),
 (1074, 0.36514837167011077),
 (1184, 0.36514837167011077),
 (1635, 0.36514837167011077),
 (1659, 0.36514837167011077),
 (1829, 0.36514837167011077),
 (2257, 0.36514837167011077),
 (2942, 0.36514837167011077),
 (2965, 0.36514837167011077),
 (4075, 0.36514837167011077),
 (4458, 0.36514837167011077),
 (4675, 0.36514837167011077),
 (5821, 0.36514837167011077),
 (6474, 0.36514837167011077),
 (6476, 0.36514837167011077),
 (7140, 0.36514837167011077),
 (8063, 0.36514837167011077),
 (8474, 0.36514837167011077),
 (9463, 0.36514837167011077),
 (9754, 0.36514837167011077),
 (10573, 0.36514837167011077),
 (10871, 0.36514837167011077),
 (11205, 0.36514837167011077),
 (11655, 0.36514837167011077),
 (11685, 0.36514837167011077),
 (11811, 0.36514837167011077),
 (11857, 0.36514837167011077),
 (12518, 0.36514837167011077),
 (14880, 0.36514837167011077),
 (15335, 0.36514837167011077),
 (17504, 0.36514837167011077),
 (18317, 0.36514837167011077),
 (18465, 0.36514837167011077),
 (18534, 0.36514837167011077),
 (18648, 0.36514837167011077),
 (19164, 0.36514837167011077),
 (19183, 0.36514837167011077),
 (19292, 0.36514837167011077),
 (19672, 0.36514837167011077),
 (20101, 0.36514837167011077),
 (20530, 0.36514837167011077),
 (20969, 0.36514837167011077),
 (21725, 0.36514837167011077),
 (21727, 0.36514837167011077),
 (21744, 0.36514837167011077),
 (22008, 0.36514837167011077),
 (22016, 0.36514837167011077),
 (22197, 0.36514837167011077),
 (23207, 0.36514837167011077),
 (23209, 0.36514837167011077),
 (23288, 0.36514837167011077),
 (23383, 0.36514837167011077),
 (23940, 0.36514837167011077),
 (24157, 0.36514837167011077),
 (24463, 0.36514837167011077),
 (458, 0.35355339059327384),
 (5314, 0.35355339059327384),
 (6662, 0.35355339059327384),
 (7948, 0.35355339059327384),
 (11372, 0.35355339059327384),
 (14561, 0.35355339059327384),
 (1747, 0.33968311024337877),
 (5651, 0.33968311024337877),
 (9432, 0.33968311024337877),
 (23469, 0.33968311024337877),
 (23977, 0.33968311024337877),
 (24816, 0.33968311024337877),
 (613, 0.3333333333333334),
 (1038, 0.3333333333333334),
 (1225, 0.3333333333333334),
 (1316, 0.3333333333333334),
 (1733, 0.3333333333333334),
 (1852, 0.3333333333333334),
 (1897, 0.3333333333333334),
 (2111, 0.3333333333333334),
 (2178, 0.3333333333333334),
 (2447, 0.3333333333333334),
 (2456, 0.3333333333333334),
 (2526, 0.3333333333333334),
 (2615, 0.3333333333333334),
 (3096, 0.3333333333333334),
 (3515, 0.3333333333333334),
 (3716, 0.3333333333333334),
 (3738, 0.3333333333333334),
 (3740, 0.3333333333333334),
 (4308, 0.3333333333333334),
 (4411, 0.3333333333333334),
 (4504, 0.3333333333333334),
 (4559, 0.3333333333333334),
 (4873, 0.3333333333333334),
 (6131, 0.3333333333333334),
 (6261, 0.3333333333333334),
 (6438, 0.3333333333333334),
 (6455, 0.3333333333333334),
 (6506, 0.3333333333333334),
 (7043, 0.3333333333333334),
 (7447, 0.3333333333333334),
 (7479, 0.3333333333333334),
 (7530, 0.3333333333333334),
 (7617, 0.3333333333333334),
 (8251, 0.3333333333333334),
 (8257, 0.3333333333333334),
 (8892, 0.3333333333333334),
 (9350, 0.3333333333333334),
 (9876, 0.3333333333333334),
 (9916, 0.3333333333333334),
 (10204, 0.3333333333333334),
 (10636, 0.3333333333333334),
 (11181, 0.3333333333333334),
 (11314, 0.3333333333333334),
 (11381, 0.3333333333333334),
 (11664, 0.3333333333333334),
 (11666, 0.3333333333333334),
 (11674, 0.3333333333333334),
 (11688, 0.3333333333333334),
 (11980, 0.3333333333333334),
 (12220, 0.3333333333333334),
 (12761, 0.3333333333333334),
 (13035, 0.3333333333333334),
 (13157, 0.3333333333333334),
 (13250, 0.3333333333333334),
 (14010, 0.3333333333333334),
 (14178, 0.3333333333333334),
 (14201, 0.3333333333333334),
 (14232, 0.3333333333333334),
 (14331, 0.3333333333333334),
 (14451, 0.3333333333333334),
 (14818, 0.3333333333333334),
 (14831, 0.3333333333333334),
 (15448, 0.3333333333333334),
 (16181, 0.3333333333333334),
 (16246, 0.3333333333333334),
 (16480, 0.3333333333333334),
 (16961, 0.3333333333333334),
 (17230, 0.3333333333333334),
 (17452, 0.3333333333333334),
 (18149, 0.3333333333333334),
 (18430, 0.3333333333333334),
 (18941, 0.3333333333333334),
 (19756, 0.3333333333333334),
 (19910, 0.3333333333333334),
 (19977, 0.3333333333333334),
 (20221, 0.3333333333333334),
 (20679, 0.3333333333333334),
 (21209, 0.3333333333333334),
 (21562, 0.3333333333333334),
 (21633, 0.3333333333333334),
 (21772, 0.3333333333333334),
 (22013, 0.3333333333333334),
 (22045, 0.3333333333333334),
 (22056, 0.3333333333333334),
 (23019, 0.3333333333333334),
 (23035, 0.3333333333333334),
 (23975, 0.3333333333333334),
 (24030, 0.3333333333333334),
 (25397, 0.3333333333333334),
 (25578, 0.3333333333333334),
 (25591, 0.3333333333333334),
 (25615, 0.3333333333333334),
 (25729, 0.3333333333333334),
 (19165, 0.32732683535398865),
 (19456, 0.32732683535398865),
 (3243, 0.31622776601683794),
 (4613, 0.31622776601683794),
 (312, 0.3086066999241838),
 (498, 0.3086066999241838),
 (518, 0.3086066999241838),
 (593, 0.3086066999241838),
 (669, 0.3086066999241838),
 (1097, 0.3086066999241838),
 (1293, 0.3086066999241838),
 (1345, 0.3086066999241838),
 (1368, 0.3086066999241838),
 (2255, 0.3086066999241838),
 (2420, 0.3086066999241838),
 (2445, 0.3086066999241838),
 (3410, 0.3086066999241838),
 (3727, 0.3086066999241838),
 (3943, 0.3086066999241838),
 (4004, 0.3086066999241838),
 (4554, 0.3086066999241838),
 (4856, 0.3086066999241838),
 (4909, 0.3086066999241838),
 (5034, 0.3086066999241838),
 (5324, 0.3086066999241838),
 (5971, 0.3086066999241838),
 (6424, 0.3086066999241838),
 (6700, 0.3086066999241838),
 (6949, 0.3086066999241838),
 (7194, 0.3086066999241838),
 (8300, 0.3086066999241838),
 (8675, 0.3086066999241838),
 (9055, 0.3086066999241838),
 (9200, 0.3086066999241838),
 (9302, 0.3086066999241838),
 (9315, 0.3086066999241838),
 (10102, 0.3086066999241838),
 (10146, 0.3086066999241838),
 (10343, 0.3086066999241838),
 (10614, 0.3086066999241838),
 (10801, 0.3086066999241838),
 (11002, 0.3086066999241838),
 (11038, 0.3086066999241838),
 (11312, 0.3086066999241838),
 (11536, 0.3086066999241838),
 (11876, 0.3086066999241838),
 (11910, 0.3086066999241838),
 (12120, 0.3086066999241838),
 (12367, 0.3086066999241838),
 (12528, 0.3086066999241838),
 (12683, 0.3086066999241838),
 (12726, 0.3086066999241838),
 (13511, 0.3086066999241838),
 (13681, 0.3086066999241838),
 (13757, 0.3086066999241838),
 (14390, 0.3086066999241838),
 (14421, 0.3086066999241838),
 (14450, 0.3086066999241838),
 (14476, 0.3086066999241838),
 (15455, 0.3086066999241838),
 (15468, 0.3086066999241838),
 (15583, 0.3086066999241838),
 (15700, 0.3086066999241838),
 (15708, 0.3086066999241838),
 (15817, 0.3086066999241838),
 (16017, 0.3086066999241838),
 (16497, 0.3086066999241838),
 (16502, 0.3086066999241838),
 (16770, 0.3086066999241838),
 (16991, 0.3086066999241838),
 (17985, 0.3086066999241838),
 (18036, 0.3086066999241838),
 (18299, 0.3086066999241838),
 (19169, 0.3086066999241838),
 (19307, 0.3086066999241838),
 (19422, 0.3086066999241838),
 (19651, 0.3086066999241838),
 (19800, 0.3086066999241838),
 (19869, 0.3086066999241838),
 (20098, 0.3086066999241838),
 (20152, 0.3086066999241838),
 (20409, 0.3086066999241838),
 (20981, 0.3086066999241838),
 (21112, 0.3086066999241838),
 (21201, 0.3086066999241838),
 (21563, 0.3086066999241838),
 (21818, 0.3086066999241838),
 (21822, 0.3086066999241838),
 (21952, 0.3086066999241838),
 (22049, 0.3086066999241838),
 (22202, 0.3086066999241838),
 (22349, 0.3086066999241838),
 (22555, 0.3086066999241838),
 (23498, 0.3086066999241838),
 (23796, 0.3086066999241838),
 (23999, 0.3086066999241838),
 (24419, 0.3086066999241838),
 (25390, 0.3086066999241838),
 (17621, 0.3061862178478973),
 (354, 0.2886751345948129),
 (856, 0.2886751345948129),
 (1268, 0.2886751345948129),
 (1295, 0.2886751345948129),
 (1382, 0.2886751345948129),
 (1503, 0.2886751345948129),
 (1631, 0.2886751345948129),
 (1847, 0.2886751345948129),
 (2391, 0.2886751345948129),
 (2858, 0.2886751345948129),
 (3021, 0.2886751345948129),
 (3074, 0.2886751345948129),
 (3457, 0.2886751345948129),
 (3509, 0.2886751345948129),
 (3577, 0.2886751345948129),
 (3745, 0.2886751345948129),
 (4512, 0.2886751345948129),
 (5885, 0.2886751345948129),
 (6232, 0.2886751345948129),
 (6861, 0.2886751345948129),
 (6876, 0.2886751345948129),
 (7083, 0.2886751345948129),
 (7544, 0.2886751345948129),
 (7566, 0.2886751345948129),
 (7819, 0.2886751345948129),
 (8376, 0.2886751345948129),
 (8614, 0.2886751345948129),
 (8761, 0.2886751345948129),
 (8827, 0.2886751345948129),
 (9947, 0.2886751345948129),
 (10787, 0.2886751345948129),
 (11186, 0.2886751345948129),
 (11295, 0.2886751345948129),
 (11893, 0.2886751345948129),
 (12763, 0.2886751345948129),
 (13305, 0.2886751345948129),
 (13818, 0.2886751345948129),
 (13820, 0.2886751345948129),
 (13939, 0.2886751345948129),
 (13977, 0.2886751345948129),
 (14114, 0.2886751345948129),
 (14442, 0.2886751345948129),
 (14548, 0.2886751345948129),
 (15122, 0.2886751345948129),
 (17241, 0.2886751345948129),
 (17357, 0.2886751345948129),
 (17398, 0.2886751345948129),
 (17725, 0.2886751345948129),
 (18312, 0.2886751345948129),
 (18367, 0.2886751345948129),
 (19460, 0.2886751345948129),
 (19472, 0.2886751345948129),
 (19585, 0.2886751345948129),
 (19762, 0.2886751345948129),
 (20603, 0.2886751345948129),
 (20890, 0.2886751345948129),
 (20953, 0.2886751345948129),
 (21228, 0.2886751345948129),
 (21299, 0.2886751345948129),
 (21694, 0.2886751345948129),
 (22033, 0.2886751345948129),
 (22284, 0.2886751345948129),
 (22379, 0.2886751345948129),
 (22517, 0.2886751345948129),
 (22572, 0.2886751345948129),
 (23197, 0.2886751345948129),
 (23241, 0.2886751345948129),
 (24053, 0.2886751345948129),
 (24173, 0.2886751345948129),
 (25113, 0.2886751345948129),
 (25212, 0.2886751345948129),
 (25672, 0.2886751345948129),
 (6897, 0.2738612787525831),
 (20733, 0.2738612787525831),
 (282, 0.2721655269759087),
 (595, 0.2721655269759087),
 (817, 0.2721655269759087),
 (834, 0.2721655269759087),
 (1333, 0.2721655269759087),
 (2432, 0.2721655269759087),
 (2517, 0.2721655269759087),
 (2661, 0.2721655269759087),
 (3651, 0.2721655269759087),
 (5145, 0.2721655269759087),
 (5351, 0.2721655269759087),
 (5473, 0.2721655269759087),
 (5723, 0.2721655269759087),
 (6095, 0.2721655269759087),
 (6099, 0.2721655269759087),
 (6711, 0.2721655269759087),
 (6753, 0.2721655269759087),
 (6776, 0.2721655269759087),
 (7065, 0.2721655269759087),
 (8374, 0.2721655269759087),
 (8621, 0.2721655269759087),
 (9075, 0.2721655269759087),
 (9453, 0.2721655269759087),
 (10824, 0.2721655269759087),
 (13550, 0.2721655269759087),
 (13596, 0.2721655269759087),
 (13662, 0.2721655269759087),
 (13741, 0.2721655269759087),
 (13742, 0.2721655269759087),
 (13780, 0.2721655269759087),
 (13874, 0.2721655269759087),
 (13934, 0.2721655269759087),
 (14839, 0.2721655269759087),
 (15228, 0.2721655269759087),
 (16266, 0.2721655269759087),
 (17192, 0.2721655269759087),
 (19020, 0.2721655269759087),
 (19834, 0.2721655269759087),
 (20747, 0.2721655269759087),
 (20868, 0.2721655269759087),
 (21009, 0.2721655269759087),
 (21308, 0.2721655269759087),
 (21340, 0.2721655269759087),
 (21641, 0.2721655269759087),
 (22716, 0.2721655269759087),
 (22724, 0.2721655269759087),
 (23101, 0.2721655269759087),
 (23770, 0.2721655269759087),
 (24801, 0.2721655269759087),
 (24904, 0.2721655269759087),
 (24988, 0.2721655269759087),
 (25021, 0.2672612419124244),
 (1695, 0.25819888974716115),
 (2128, 0.25819888974716115),
 (2529, 0.25819888974716115),
 (2558, 0.25819888974716115),
 (2857, 0.25819888974716115),
 (2975, 0.25819888974716115),
 (3524, 0.25819888974716115),
 (3917, 0.25819888974716115),
 (12924, 0.25819888974716115),
 (12940, 0.25819888974716115),
 (15384, 0.25819888974716115),
 (15719, 0.25819888974716115),
 (16993, 0.25819888974716115),
 (18634, 0.25819888974716115),
 (18711, 0.25819888974716115),
 (19014, 0.25819888974716115),
 (19283, 0.25819888974716115),
 (20100, 0.25819888974716115),
 (23400, 0.25819888974716115),
 (24046, 0.25819888974716115),
 (4762, 0.2461829819586655),
 (10685, 0.2461829819586655),
 (17429, 0.2461829819586655),
 (17494, 0.2461829819586655),
 (17638, 0.2461829819586655),
 (18086, 0.2461829819586655),
 (18878, 0.2461829819586655),
 (21160, 0.2461829819586655),
 (21648, 0.2461829819586655),
 (511, 0.2357022603955159),
 (635, 0.2357022603955159),
 (2058, 0.2357022603955159),
 (2076, 0.2357022603955159),
 (2133, 0.2357022603955159),
 (2610, 0.2357022603955159),
 (2751, 0.2357022603955159),
 (3205, 0.2357022603955159),
 (3852, 0.2357022603955159),
 (3997, 0.2357022603955159),
 (5253, 0.2357022603955159),
 (5348, 0.2357022603955159),
 (5535, 0.2357022603955159),
 (5557, 0.2357022603955159),
 (5920, 0.2357022603955159),
 (6548, 0.2357022603955159),
 (6844, 0.2357022603955159),
 (7334, 0.2357022603955159),
 (9029, 0.2357022603955159),
 (9214, 0.2357022603955159),
 (9349, 0.2357022603955159),
 (9934, 0.2357022603955159),
 (10036, 0.2357022603955159),
 (10514, 0.2357022603955159),
 (10742, 0.2357022603955159),
 (11060, 0.2357022603955159),
 (11082, 0.2357022603955159),
 (11654, 0.2357022603955159),
 (11838, 0.2357022603955159),
 (11855, 0.2357022603955159),
 (12341, 0.2357022603955159),
 (12637, 0.2357022603955159),

In [54]:
x=sorted(list(enumerate(similarity[12])),reverse=True,key=lambda x:x[1])[1:11]

In [55]:
for i in x:
    print(i[0])

19420
1446
13747
15140
16944
11833
94
5763
22853
9881

In [56]:
main_df.shape

(25741, 3)

In [57]:
main_df.tail()

,product_id,product_name,Tags
25736,49679,Famous Chocolate Wafers,snacks cookiescakes famou chocol wafer
25737,49680,All Natural Creamy Caesar Dressing,pantry saladdressingtoppings natur creami caes...
25738,49681,Spaghetti with Meatballs and Sauce Meal,frozen frozenmeals spaghetti meatbal sauc meal
25739,49682,California Limeade,beverages juicenectars california limead
25740,49688,Fresh Foaming Cleanser,personalcare facialcare fresh foam cleanser

In [58]:
print(main_df['product_name'][29])
print(main_df['product_name'][187])

Flat Toothpicks
Ground Flaxseed With Mixed Berries

In [59]:
def recommend(product_name):
  product_index= main_df[main_df['product_name']==product_name].index[0]
  distances=similarity[product_index]
  products_list=sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
  
  #top=[]
  for i in products_list:
    print(main_df.iloc[i[0]].product_name)
#    movie_name= main_df['product_name'][i[0]]
#    top.append(movie_name)

    
  #return top

In [60]:
recommend('Famous Chocolate Wafers')

Chocolate Wafer
Wafer, Chocolate
Quadratini Chocolate Cream Wafers
Gluten Free Chocolate Coated Wafers
Chocolate Cookies

In [61]:
recommend('Flat Toothpicks')

L'elegance Toothpicks
Round Toothpicks
Frilled Toothpicks
Plastic Toothpicks
Toothpicks Square Round Tip

In [62]:
import pickle

In [63]:
main_df2=main_df.merge(products,on=['product_id','product_name'],how='left')

In [64]:
main_df3 = (main_df2.merge(aisles,on='aisle_id',how='left')).merge(departments,on='department_id',how='left')
main_df3.head()
main_df3= main_df3[['product_id','product_name','Tags','aisle','department']]

In [192]:
pickle.dump(main_df3.to_dict(),open('top_products.pkl','wb'))

In [193]:
similarity=similarity.astype('float32')

In [194]:
similarity.shape

(25741, 25741)

In [195]:
similarity[10]

array([0.18257418, 0.        , 0.        , ..., 0.16666667, 0.        ,
       0.        ], dtype=float32)

In [196]:
similarity.dtype

dtype('float32')

In [197]:
#pickle.dump(similarity,open('similarity.pkl','wb'))

In [3]:
import bz2
import pickle
import _pickle as cPickle

In [ ]:
# Saves the "data" with the "title" and adds the .pickle
def full_pickle(title, data):
 pikd = open(title + '.pkl', 'wb')
 pickle.dump(data, pikd)
 pikd.close()

In [ ]:
#full_pickle('Similarity_2',similarity)

In [4]:
products_dicts = pickle.load(open('products_with_recommendations.pkl', 'rb'))

In [ ]:
products_dicts.sample(10)

In [65]:
filtered_products= main_df3[main_df3['product_name'].isin(products_dicts)]

In [67]:
filtered_products.head()

Empty DataFrame
Columns: [product_id, product_name, Tags, aisle, department]
Index: []